*.xcuserstate
*.xcuserdata
creativeWriting.xcodeproj/project.xcworkspace/xcuserdata/janagagacheva.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcbkptlist
*.pbxproj
*.xcuserstate
*.pbxproj
*.xcuserstate
*.xcuserstate
*.pbxproj
*.xcuserstate
*.pbxproj
